AnnotationVizLibWCFClient/Service References/AnnotationClient/System.Data.Entity.Spatial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DbGeometry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Geometry" nillable="true" type="tns:DbGeometryWellKnownValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbGeometry" nillable="true" type="tns:DbGeometry" />
  <xs:complexType name="DbGeometryWellKnownValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordinateSystemId" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="WellKnownText" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="WellKnownBinary" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbGeometryWellKnownValue" nillable="true" type="tns:DbGeometryWellKnownValue" />
</xs:schema>