AnnotationVizLibTests/Service References/AnnotationService/Annotate6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Annotation.Service.GraphClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Annotation.Service.GraphClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://webdev.connectomes.utah.edu/RC1Test/Annotation/Annotate.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SynapseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="objList" nillable="true" type="tns:ArrayOfSynapseStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynapseObject" nillable="true" type="tns:SynapseObject" />
  <xs:complexType name="ArrayOfSynapseStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SynapseStats" nillable="true" type="tns:SynapseStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSynapseStats" nillable="true" type="tns:ArrayOfSynapseStats" />
  <xs:complexType name="SynapseStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="synapses" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynapseStats" nillable="true" type="tns:SynapseStats" />
</xs:schema>