Clients/WebAnnotationModel/Service References/Service/Annotation11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Annotation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Annotation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StructureType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObjectWithParentOflong">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abstract" type="xs:boolean" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" type="xs:int" />
          <xs:element minOccurs="0" name="HotKey" type="ser:char" />
          <xs:element minOccurs="0" name="MarkupType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StructureTags" nillable="true" type="q1:ArrayOfstring" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StructureType" nillable="true" type="tns:StructureType" />
  <xs:complexType name="DataObjectWithParentOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataObjectWithParentOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Annotation" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObjectWithKeyOflong">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataObjectWithParentOflong" nillable="true" type="tns:DataObjectWithParentOflong" />
  <xs:complexType name="DataObjectWithKeyOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataObjectWithKeyOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Annotation" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataObjectWithKeyOflong" nillable="true" type="tns:DataObjectWithKeyOflong" />
  <xs:complexType name="DataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="DBAction" type="tns:DBACTION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataObject" nillable="true" type="tns:DataObject" />
  <xs:simpleType name="DBACTION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="INSERT" />
      <xs:enumeration value="UPDATE" />
      <xs:enumeration value="DELETE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DBACTION" nillable="true" type="tns:DBACTION" />
  <xs:complexType name="ArrayOfStructureType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StructureType" nillable="true" type="tns:StructureType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructureType" nillable="true" type="tns:ArrayOfStructureType" />
  <xs:complexType name="Structure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObjectWithParentOflong">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttributesXml" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildIDs" nillable="true" type="q3:ArrayOflong" />
          <xs:element minOccurs="0" name="Confidence" type="xs:double" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Links" nillable="true" type="tns:ArrayOfStructureLink" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeID" type="xs:long" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Structure" nillable="true" type="tns:Structure" />
  <xs:complexType name="ArrayOfStructureLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StructureLink" nillable="true" type="tns:StructureLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructureLink" nillable="true" type="tns:ArrayOfStructureLink" />
  <xs:complexType name="StructureLink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bidirectional" type="xs:boolean" />
          <xs:element minOccurs="0" name="SourceID" type="xs:long" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TargetID" type="xs:long" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StructureLink" nillable="true" type="tns:StructureLink" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObjectWithKeyOflong">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttributesXml" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Closed" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastModified" type="xs:long" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Links" nillable="true" type="q4:ArrayOflong" />
          <xs:element minOccurs="0" name="OffEdge" type="xs:boolean" />
          <xs:element minOccurs="0" name="ParentID" type="xs:long" />
          <xs:element minOccurs="0" name="Position" type="tns:AnnotationPoint" />
          <xs:element minOccurs="0" name="Radius" type="xs:double" />
          <xs:element minOccurs="0" name="Section" type="xs:long" />
          <xs:element minOccurs="0" name="Terminal" type="xs:boolean" />
          <xs:element minOccurs="0" name="TypeCode" type="xs:short" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Verticies" nillable="true" type="tns:ArrayOfAnnotationPoint" />
          <xs:element minOccurs="0" name="VolumePosition" type="tns:AnnotationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="AnnotationPoint">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnotationPoint" nillable="true" type="tns:AnnotationPoint" />
  <xs:complexType name="ArrayOfAnnotationPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnotationPoint" type="tns:AnnotationPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnotationPoint" nillable="true" type="tns:ArrayOfAnnotationPoint" />
  <xs:complexType name="CreateStructureRetval">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="structure" nillable="true" type="tns:Structure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateStructureRetval" nillable="true" type="tns:CreateStructureRetval" />
  <xs:complexType name="ArrayOfStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Structure" nillable="true" type="tns:Structure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructure" nillable="true" type="tns:ArrayOfStructure" />
  <xs:complexType name="ArrayOfLocationPositionOnly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationPositionOnly" nillable="true" type="tns:LocationPositionOnly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationPositionOnly" nillable="true" type="tns:ArrayOfLocationPositionOnly" />
  <xs:complexType name="LocationPositionOnly">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObjectWithKeyOflong">
        <xs:sequence>
          <xs:element minOccurs="0" name="Position" type="tns:AnnotationPoint" />
          <xs:element minOccurs="0" name="Radius" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationPositionOnly" nillable="true" type="tns:LocationPositionOnly" />
  <xs:complexType name="LocationLink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="SourceID" type="xs:long" />
          <xs:element minOccurs="0" name="TargetID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationLink" nillable="true" type="tns:LocationLink" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfLocationLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationLink" nillable="true" type="tns:LocationLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationLink" nillable="true" type="tns:ArrayOfLocationLink" />
  <xs:complexType name="ArrayOfLocationHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationHistory" nillable="true" type="tns:LocationHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationHistory" nillable="true" type="tns:ArrayOfLocationHistory" />
  <xs:complexType name="LocationHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Location">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangedColumnMask" type="xs:unsignedLong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationHistory" nillable="true" type="tns:LocationHistory" />
</xs:schema>